.letterButton {
  /* and style the buttons */
  font-family: 'Comic Sans', 'Comic Sans MS';
  font-weight: bolder;
  border-radius: 20px;
  border-style: none;
  margin: 3px;
  font-size: 45px;
  padding: 10px;
}
